@import "../../../../../../assets/scss/variables.scss";

:host {
  background-color: $surface-color;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba($surface-contrast-color, 0.1);
  display: flex;
  flex-direction: row;
  height: fit-content;
  min-width: fit-content;
  width: 100%;
}

.left-wrapper {
  background-color: $surface-dark-color;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 2rem;
  white-space: nowrap;

  .left-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .logo {
      height: 3rem;
      margin-bottom: 2rem;
    }
    .title {
      color: $surface-color;
      font-size: 2.5rem;
      font-weight: 600;
    }
    .deko-line {
      border-top: 3px solid $secondary-color;
      margin-top: 1rem;
      width: 4rem;
    }
  }
}

.right-wrapper {
  align-items: center;
  background-color: $surface-color;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  position: relative;
  min-width: 12rem;
  width: 100%;

  .shorttag-wrapper {
    margin: 2rem;

    .contact-shorttag {
      align-items: center;
      border: 2px solid $surface-color;
      border-radius: 100%;
      color: $surface-color;
      display: inline-flex;
      font-size: 2.5rem;
      justify-content: center;
      min-height: 5rem;
      min-width: 5rem;
    }
  }

  .close-icon {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .material-symbols-outlined {

    font-variation-settings:
      "FILL" 0,
      "wght" 300,
      "GRAD" -25,
      "opsz" 20;
  }

  .form-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 2rem;
    margin-top: 5rem;
    width: 100%;

    .input-wrapper {
      margin-bottom: 1rem;
      position: relative;

      .input-field {
        align-items: center;
        border: none;
        border: 1px solid $light-transparent-color;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: row;
        height: 2rem;
        width: 100%;
        min-width: 10rem;
      }
      .icon {
        position: absolute;
        right: 0.25rem;
        top: 0.25rem;
      }
    }
  }
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  width: 80%;
  .btn-size {
    min-width: 7rem;
    width: 100%;
  }
  .ml {
    margin-left: 1rem;
  }
}