<div class="left-wrapper">
  <div class="left-content">
    <img class="logo" src="../../../../../../assets/pictures/Capa_dark.svg">
    <span class="title">{{'Home.ContactEdit.EditContact' | translate}}</span>
    <div class="deko-line"></div>
  </div>
</div>

<div class="right-wrapper">
  <div [ngStyle]="{'background-color': 'red'}" class="contact-shorttag">
    AE
  </div>
  <div class="form-wrapper">
    <div class="input-field">
      <input>
      <span class="material-symbols-outlined">person</span>
    </div>


  </div>
</div>