
    $primary-color: #28abe2;
    $primary-contrast-color: #ffffff;
    $secondary-color: #28abe2;
    $secondary-contrast-color: #ffffff;
    
    // $surface-color: #00a8e8;
    $surface-color: #ffffff;
    $surface-contrast-color: #000000;
    $surface-dark-color: #2b3647;
    $surface-dark-contrast-color: #CDCDCD;
    $background-color: #f6f7f8;
    $background-contrast-color: #ffffff;
    
    $success-color: #c0e58b;
    $success-contrast-color: #000000;
    
    $error-color: #ff6f69;
    $error-contrast-color: #000000;
    
    $warning-color: #ffcc5c;
    $warning-contrast-color: #000000;

    $highlight-dark-color: #081931;



