<div class="contacts-content-wrapper">

    <section class="contact-list-wrapper">
        <div class="add-contact-btn">
            <app-button 
            [text]="'Home.Contacts.AddContact' | translate" 
            [bgrColor]="'surface-dark-color'" 
            [txtColor]="'surface-dark-contrast-color'" 
            [icon]="'person_add'">
            </app-button>
        </div>

        <div class="contact-list">
            @for(contact of contacts; track contacts) {
                <span>{{ contact.firstName }}</span>
                <span>{{ contact.lastName }}</span>
                <span>{{ contact.email }}</span>
                
            }
        </div>


    </section>


    <section class="contact-detail-wrapper"></section>
</div>