<div class="contacts-content-wrapper">

    <section class="contact-list-wrapper">
        <div class="add-contact-btn">
            <app-button 
            [text]="'Home.Contacts.AddContact' | translate" 
            [bgrColor]="'surface-dark-color'" 
            [txtColor]="'surface-dark-contrast-color'" 
            [icon]="'person_add'">
            </app-button>
        </div>

        <div class="contacts-list">
            @for(contact of contacts; track contacts) {
                <div class="contact-list-detail">
                    <div class="contact-shorttag">
                        {{ contact.firstName.charAt(0).toUpperCase()}}{{contact.lastName.charAt(0).toUpperCase()}}
                    </div>
                    <div class="contact-info">
                        <span class="contact-name">{{ contact.firstName }} {{ contact.lastName }}</span>
                        <span class="contact-email">{{ contact.email }}</span>
                    </div>

                </div>

                
            }
        </div>


    </section>


    <section class="contact-detail-wrapper"></section>
</div>