<div class="contacts-content-wrapper">

    <section class="contact-list-wrapper">
        <div class="add-contact-btn">
            <app-button 
            [text]="'Add new contact'" 
            [bgrColor]="'surface-dark-color'" 
            [txtColor]="'surface-dark-contrast-color'" 
            [icon]="'person_add'">
            </app-button>
        </div>

        <div class="contact-list">
            {{'Login.Login.username' | translate}}
        </div>


    </section>


    <section class="contact-detail-wrapper"></section>
</div>