@import '../../../../../assets/scss/variables';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.contacts-content-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: $surface-color;
}

/** Contact List Section */
.contact-list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    height: 100%;
    background-color: $surface-color;
    box-shadow: rgba(99, 99, 99, 0.2) 2px 0px 8px 0px;
    z-index: 1;
}

.add-contact-btn {
    width: 95%;
    margin: 1rem 0;
}

.contact-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/** Contact Detail Section */
.contact-detail-wrapper {
    width: 100%;
    height: 100%;
    background-color: $background-color;
}

