<app-subheadline [text]="'Home.Board.Headline' | translate" [subtext]="'Home.Board.SubHeadline' | translate"
                 [line]="true">
</app-subheadline>

<section class="upper-section-wrapper">
    <div class="upper-section">
        <!--        <mat-form-field appearance="outline">-->
        <!--            <mat-label>{{'Home.Board.FindTask' | translate}}</mat-label>-->
        <!--            <input type="text" matInput>-->
        <!--            <mat-icon matSuffix>search</mat-icon>-->
        <!--        </mat-form-field>-->
        <app-button [bgrColor]="'surface-dark-color'" [icon]="'add'" [text]="'Home.Board.AddTask' | translate"
                    [txtColor]="'surface-dark-contrast-color'" (click)="showAddTask = true">
        </app-button>
    </div>
</section>

<section class="board-wrapper">
    <div class="board-subsection">
        <div class="headline">
            <span>{{ "Home.Board.ToDo" | translate }}</span>
            <img class="add-icon" src="assets/icons/add_dark.svg" alt="add">
        </div>
        <section class="drag-area">
            @if (tasks!.length > 0) {
                @for (task of tasks; track trackByTaskId) {
                        <app-task cdkDrag [task]="task"></app-task>
                }
            }
        </section>
    </div>

    <div class="board-subsection">
        <div class="headline">
            <span>{{ "Home.Board.InProgress" | translate }}</span>
            <img class="add-icon" src="assets/icons/add_dark.svg" alt="add">
        </div>
        <section class="drag-area">

        </section>
    </div>


    <div class="board-subsection">
        <div class="headline">
            <span>{{ "Home.Board.AwaitFeedback" | translate }}</span>
            <img class="add-icon" src="assets/icons/add_dark.svg" alt="add">
        </div>
        <section class="drag-area">

        </section>
    </div>

    <div class="board-subsection">
        <div class="headline">
            <span>{{ "Home.Board.Done" | translate }}</span>
            <img class="add-icon" src="assets/icons/add_dark.svg" alt="add">
        </div>
        <section class="drag-area">

        </section>
    </div>
</section>

<!-- @if(showAddTask){
    <app-add-task-dialog (close)="showAddTask = false"></app-add-task-dialog>
} -->

<ng-template #emptySection>
blub
</ng-template>
