<div class="route-headline-wrapper">
    <span class="route-headline">Add Task</span>
</div>

<span class="form-subheadlines">{{'Home.Tasks.Title' | translate}}</span>
<mat-form-field appearance="outline">
  <mat-label>{{'Home.Tasks.Title' | translate}}</mat-label>
  <input matInput>
</mat-form-field>

<span class="form-subheadlines">{{'Home.Tasks.Description' | translate}}</span>
<mat-form-field appearance="outline">
    <mat-label>{{'Home.Tasks.Description' | translate}}</mat-label>
    <textarea matInput cols="4" rows="3"></textarea>
</mat-form-field>

<span class="form-subheadlines">{{'Home.Tasks.Assign' | translate}}</span>
<mat-form-field appearance="outline">
    <mat-label>{{'Home.Tasks.Contacts' | translate}}</mat-label>
    <mat-select multiple>
<!--        <mat-select-trigger>-->
<!--            {{toppings.value?.[0] || ''}}-->
<!--            @if ((toppings.value?.length || 0) > 1) {-->
<!--                <span class="example-additional-selection">-->
<!--          (+{{(toppings.value?.length || 0) - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})-->
<!--        </span>-->
<!--            }-->
<!--        </mat-select-trigger>-->
<!--        @for (topping of toppingList; track topping) {-->
<!--            <mat-option [value]="topping">{{topping}}</mat-option>-->
<!--        }-->
    </mat-select>
</mat-form-field>

<span class="form-subheadlines">{{'Home.Tasks.DueDate' | translate}}</span>
<mat-form-field appearance="outline">
    <mat-label>{{'Home.Tasks.Date' | translate}}</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<span class="form-subheadlines">{{'Home.Tasks.Priority' | translate}}</span>
<div class="prio-btn-wrapper">
    <app-button [bgrColor]="'surface-dark-color'" [icon]="'urgent'" [outlined]="true"
                [text]="'Home.Tasks.PriorityHigh' | translate" [txtColor]="'surface-dark-contrast-color'">
    </app-button>
    <app-button [bgrColor]="'surface-dark-color'" [icon]="'medium'" [outlined]="true"
                [text]="'Home.Tasks.PriorityMedium' | translate" [txtColor]="'surface-dark-contrast-color'">
    </app-button>
    <app-button [bgrColor]="'surface-dark-color'" [icon]="'low'" [outlined]="true"
                [text]="'Home.Tasks.PriorityLow' | translate" [txtColor]="'surface-dark-contrast-color'">
    </app-button>
</div>

<span class="form-subheadlines">{{'Home.Tasks.Category' | translate}}</span>
<mat-form-field appearance="outline">
    <mat-label>{{'Home.Tasks.Category' | translate}}</mat-label>
    <mat-select>
        @for (category of categories; track categories) {
            <mat-option [value]="category">{{category}}</mat-option>
        }
    </mat-select>
</mat-form-field>