<!--<div class="contact-header">-->
<!--  <div [ngStyle]="{'background-color': contactData.color}" class="contact-shorttag">-->
<!--    {{ contactData.firstName?.charAt(0)?.toUpperCase() }}{{ contactData.lastName?.charAt(0)?.toUpperCase() }}-->
<!--  </div>-->

<!--  <div class="contact-header-info">-->
<!--    <div class="contact-name">-->
<!--      {{ contactData.firstName }} {{ contactData.lastName }}-->
<!--    </div>-->
<!--    <div class="contact-option">-->
<!--      <div class="contact-option-wrapper">-->
<!--        <span class="material-symbols-outlined icon">edit</span>-->
<!--        <span>{{ 'Home.ContactDetail.EditBtn' | translate }}</span>-->
<!--      </div>-->
<!--      <div class="contact-option-wrapper">-->
<!--        <span class="material-symbols-outlined icon">delete</span>-->
<!--        <span>{{ 'Home.ContactDetail.DeleteBtn' | translate }}</span>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="contact-info-wrapper">-->
<!--  <span class="contact-info">{{ 'Home.ContactDetail.ContactInformation' | translate }}</span>-->
<!--  <span class="contact-info-header">{{ 'Home.ContactDetail.Email' | translate }}</span>-->
<!--  <span class="contact-email-data">{{ contactData.email }}</span>-->
<!--  <span class="contact-info-header">{{ 'Home.ContactDetail.Phone' | translate }}</span>-->
<!--  <span class="contact-phone-data">{{ contactData.phone }}</span>-->
<!--</div>-->

<!--<app-contact-edit-card></app-contact-edit-card>-->
