@import '../../../../assets/scss/variables.scss';

:host {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  padding: 0.5rem;
}

button {
  color: unset;
  background-color: unset;
}

.btn-wrapper {
  align-items: center;
  border-radius: .625rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid $surface-dark-color;

  &:hover:not(.border) {
    cursor: pointer;
    background-color: $secondary-color;
    color: $surface-dark-contrast-color;
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
  }

  .btn-text {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1rem !important;
    height: fit-content;
    min-height: 24px;
  }

  .btn-icon {
    margin: 0 0.5rem;
  }

  .navigation-icon {
    padding-left: 0.5rem;
    opacity: 1;
  }
  
  &:hover {
    border: 1px solid $secondary-color !important;
    color: $secondary-color;
    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
  }
}

.border {
  background-color: $surface-color !important;
  color: $surface-dark-color;
}

.low {
  background-color: $success-color;
  color: $success-contrast-color;
}

.medium {
  background-color: $warning-color;
  color: $warning-contrast-color;
}

.high {
  background-color: $error-color;
  color: $error-contrast-color;
}