<div class="dialog-contact" (click)="closeDialog()">
    <div class="add-contact-wrapper">
        <span class="material-symbols-outlined close-icon" (click)="closeDialog()">close</span>

        <div class="dialog-header" (click)="stopPropagation($event)">
            <div class="dialog-wrapper">
                <img class="logo" src="./././assets/pictures/Capa_1.png" alt="logo"> 
                <span class="headline">{{ "Home.ContactEdit.EditContact" | translate }}</span>
                <div class="header-line"></div>
                <div class="circle">
                    <img class="navigation-icon" src="./././assets/icons/person.svg" alt="person">
                </div>
            </div>
        </div>

        <div class="dialog-content" (click)="stopPropagation($event)">
            <form class="content-wrapper" [formGroup]="addContactForm" (ngSubmit)="saveEditContact()">
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.FirstName' | translate}}" type="text"
                        formControlName="firstName">
                    <span class="material-symbols-outlined icon">person</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.LastName' | translate}}" type="text"
                        formControlName="lastName">
                    <span class="material-symbols-outlined icon">person</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.Phone' | translate}}" type="number" formControlName="phone">
                    <span class="material-symbols-outlined icon">call</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.Email' | translate}}" type="email" formControlName="email">
                    <span class="material-symbols-outlined icon">mail</span>
                </div>

                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.Street' | translate}}" type="text" formControlName="street">
                    <span class="material-symbols-outlined icon">location_city</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.StreetNumber' | translate}}" type="text" formControlName="streetNumber">
                    <span class="material-symbols-outlined icon">location_city</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.City' | translate}}" type="text" formControlName="city">
                    <span class="material-symbols-outlined icon">location_city</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.Zip' | translate}}" type="number" formControlName="zip">
                    <span class="material-symbols-outlined icon">location_city</span>
                </div>
                <div class="input-wrapper">
                    <input placeholder="{{'Home.ContactEdit.Country' | translate}}" type="text" formControlName="country">
                    <span class="material-symbols-outlined icon">location_city</span>
                </div>

                <div class="btn-wrapper">
                    <!-- <button class="sendButton" type="submit" [disabled]="!addContactForm.valid">
                        {{ 'Home.ContactAdd.CreateContact' | translate }}
                    </button> -->
                    <app-button [bgrColor]="'background-color'" [txtColor]="'surface-dark-color'" [outlined]="true" [text]="'Home.ContactEdit.Delete' | translate"></app-button>
                    <app-button [bgrColor]="'surface-dark-color'" [txtColor]="'surface-dark-contrast-color'" [outlined]="false" [text]="'Home.ContactEdit.EditContact' | translate" [buttonType]="'submit'"></app-button>
                </div>
            </form>
        </div>
    </div>
</div>
