@import '../../../../../../assets/scss/variables';

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: calc(100% - 0.5rem);
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.task {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 95%;
  background-color: $surface-color;
  border-radius: 1.5rem;
  box-shadow: 0 0 8px 3px #33333322;
  padding: 1rem;

  .category {
    width: fit-content;
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
  }

  .title {
    display: flex;
    width: 100%;
    font-weight: 600;
    margin-bottom: 0.25rem;
    text-wrap: auto;
  }

  .description {
    display: flex;
    width: 100%;
    text-wrap: auto;
    margin-bottom: 1rem;
    color: $light-transparent-color;
  }

  .lower-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0;

    .contact {
      position: relative;
      display: flex;
      flex-direction: row;

      .contact-circle {
        position: absolute;
        bottom: -18px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.125rem;
        height: 1.125rem;
        border: 1px solid $surface-color;
        border-radius: 50%;
        padding: 0.4rem;
        color: $surface-color;
        font-size: 0.75rem;
      }

      .more-contacts {
        display: flex;
        position: absolute;
        bottom: -10px;
        width: 100%;
        font-size: 0.9rem;
        color: $light-transparent-color;
      }
    }

    .add-icon {
      margin-right: 1rem;
    }
  }
}


