<div class="task">
    <div class="category" [ngClass]="task?.category?.toLowerCase() + '-color'">{{ task?.category }}</div>
    <span class="title">{{ task?.title }}</span>
    <span class="description">{{ task?.description }}</span>
    <section class="lower-section">
        @if (contactList.length > 0) {
            <div class="contact" id="contactTag">
                @for (contact of contactList.slice(0, 3); track contactList; let i = $index) {
                    <div class="contact-circle" [ngStyle]="{'background-color': contact.color, 'left.px': i * 25}">{{ contact.firstName?.charAt(0)?.toUpperCase() }}{{ contact.lastName?.charAt(0)?.toUpperCase() }}</div>
                }
                @if (contactList.length > 3) {
                    <span class="more-contacts" [ngStyle]="{'left.px': 4 * 22}">+{{ contactList.length - 3 }}</span>
                }
            </div>
        }
        <img class="add-icon" src="./././assets/icons/{{ task?.priority }}.svg" alt="{{ task?.priority }}">
    </section>
</div>


